@model ToDoListApp1.Models.VMs.ToDoDetailsVM

@{
    ViewData["Title"] = "Task Details";
}

<h2>@Model.Title</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">@Model.Title</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>

        <dt class="col-sm-2">Created Date</dt>
        <dd class="col-sm-10">@Model.CreatedDate.ToString("MMMM dd, yyyy")</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Reminder Date</dt>
        @if (Model.ReminderDate.HasValue)
        {
            <dd class="col-sm-10">@Model.ReminderDate.Value.ToString("MMMM dd, yyyy HH:mm")</dd>
        }
        else
        {
            <dd class="col-sm-10">No reminder set</dd>
        }
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
